<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern = "%d{yyyy-mm-dd HH:mm:ss,SSS} %-5level%t: %msg%n"/>
        </Console>
        <File name="File" filename="logs/application.log">
            <PatternLayout pattern = "%d{yyyy-mm-dd HH:mm:ss,SSS} %-5level%t: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
<!--        <Logger name="org.example.Main" level="info" additivity="false"> -->
<!--        -->
<!--        </Logger>-->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</configuration>